{% extends 'headbranch/basic.html' %}
{% block title %} IBank Head Branch {% endblock %}
{% block body %}
<div class="container">
    {% if hb_auth == True %}
    <div class="jumbotron">
        <h1>Hello</h1>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#send_money").submit(function () {
            $(this).find("#btn_send").prop('disabled', true);
            var flag = true;
            var branch = $(this).find("#branch_id").val();
            var amount = $(this).find("#amount").val();
            if (branch == 0) {
                alert("Select Brach");
                flag = false;
            }
            else if (amount == null || amount == '0' || amount == '') {
                alert("Enter Amount");
                flag = false;
            }
            $(this).find("#btn_send").prop('disabled', false);
            $(this).find("#branch_id").focus();
            return flag;
        });
        $("#recive_money").submit(function () {
            $(this).find("#btn_recive").prop('disabled', true);
            var flag = true;
            var branch = $(this).find("#branch_id").val();
            var amount = $(this).find("#amount").val();
            if (branch == 0) {
                alert("Select Brach");
                flag = false;
            }
            else if (amount == null || amount == '0' || amount == '') {
                alert("Enter Amount");
                flag = false;
            }
            $(this).find("#btn_recive").prop('disabled', false);
            $(this).find("#branch_id").focus();
            return flag;
        });
    });
</script>
{% endblock %}